<!DOCTYPE html>
<html>
    <head>
        <title>Api</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div style="margin: 50px;">
            <h1>Welcome to our holding and investments API</h1>
            <p style="margin-top: 10px;">
                <h2>
                    <li style="margin: 20px;">
                        <a href="/swagger">Routes</a>
                    </li>
                    <li style="margin: 20px;">
                        <a href="/admin">Admin</a>
                    </li>
                </h2>
            </p>
        </div>
        
    </body>
</html>